body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #55b998;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 200px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.b {
  padding: 15px 32px;
  border: none;
  padding: 16px 32px;
  color: white;
  font-size: 16px;
  transition-duration: 0.3s;
  cursor: pointer;
}
.b-run {
  background-color: rgb(29, 212, 29);
  border-radius: 10px;
}
.b-run:hover {
  background-color: rgb(11, 124, 11);
}
.b-stop {
  background-color: rgb(241, 100, 100);
  border-radius: 10px;
}
.b-stop:hover {
  background-color: rgb(189, 58, 58);
}
.b-row {
  background-color: rgba(230, 230, 42, 0.701);
  border-radius: 10px;
}
.b-row:hover {
  background-color: rgb(185, 185, 31);
}

.load {
  float: inherit;
  width: 300px;
  border: 3px solid black;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.load th, .load td {
  padding: 6px;
  text-align: center;
}

/* Class inheritence not working for picture layout, coded in as a style within pictures.html */
.upload-picture {
  float: left;
  width: 24%;
  padding: 5px;
  margin-right: 1%;
  margin-bottom: 0.5rem;
}