{% extends "layout.html" %}
<body>
    {% block content %}
    <div class="content-section">
        <div class="media">
        <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">
        <div class="media-body">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div>
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Alerts</legend>
        <div class="form-group">
            <p class="article-content">### Alerts Under Construction ###</p>
        </div>
    {% endblock content %}
</body>