{% extends "layout.html" %}
{% block content %}
<legend class="border-bottom mb-4" style="font-size:40px; padding-left: 3rem;">Home of the Greenhouse Wirebot</legend>
<div class="body" style="text-align: center;">
  <p class="h5" font-weight="bold" style="text-align: center;">Designed for greenhouses and high tunnels</p>
  <img width="50%" src="{{ url_for('static', filename='home_pics/' + greenhouse) }}">
  <p class="h5" font-weight="bold"> </p>
  <img width="50%" src="{{ url_for('static', filename='home_pics/' + integrated_system) }}">
</div>
{% endblock content %}
