{% extends "layout.html" %}
<body>
    {% block content %}
    
    <!-- Create socket to connect to wirebot -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8"></script>
    <div class="content-section">
        <div class="media">
        <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">
        <div class="media-body">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div>
        <legend class="border-bottom mb-4" style="font-size:40px">Historic Run Times</legend>

        <div class="body">
            <p class="h5" font-weight="bold"></p>
                <table class="run_times" style="width:80%">
                    <th>
                        <tr style="color: black;">
                        <th>Entry #</th><th>Start Time</th><th>Stop Time</th><th>Total Run Time</th>
                        </tr>
                    </th>

                    {% for run_time in run_times %}
                    <tr>
                        <td>{{ run_time.id }}</td><td>{{ run_time.start_time }}</td><td>{{ run_time.stop_time }}</td><td>{{ run_time.run_time }}</td>
                    </tr>
                {% endfor %}
                </table>
        </div>
    {% endblock content %}
</body>